* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

body{
    background:purple;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(30deg,#41A28E, black);
    border-radius: 25px;
}



.header__nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-list {
    display: flex;
    gap: 40px;
    flex-wrap:wrap;
}

.header__nav-link,
.header__nav-drop-link {
    color: #000;
    font-family: 'PR';
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 4px;
}
.header__nav-drop-link {
    padding: 12px 30px;    
}
.header__nav-drop-link.dash {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}
.header__nav {
    padding: 25px 0;
    background: #FFF;
}


.header__form {
    display: flex;
    gap: 4px;
}
.header__form-input {
    border: 1px solid #41A28E;
    max-width: 180px;
    width: 100%;
    height: 28px;
    padding: 0 12px;
    outline: none;
    color: #4B4848;
    font-family: 'RR';
    font-size: 14px;
    font-weight: 400;
}
.header__form-btn {
    background: #41A28E;
    width: 28px;
    height: 28px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content {
    background: url(../images/bg.jpg) no-repeat center /cover;
    background-attachment: fixed;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.header__content-title {
    color: #FFF;
    font-family: 'PR';
    font-size: 50px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.70);
    padding: 17px 60px;
}
.header__content-text {
    color: #FFF;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.38);
    font-family: 'PR';
    font-size: 22px;
    font-weight: 400;
}

.header__content-link {
    max-width: 130px;
    width: 100%;
    background: #FFF;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'PR';
    font-size: 12px;
    font-weight: 400;
    transition: all 400ms;
}

.header__content-link:hover {
    background: #41A28E;
    color: #FFFFFF;
}

.header__nav-li {
    position: relative;
}


.header__nav-drop {
    border-radius: 2px;
    border: 1px solid #E5E5E5;
    background: #FFF;
    width: 160px;
    position: absolute;
    left: 0;
    top: 16px;
    opacity: 0;
    z-index: -1;
}

.header__nav-drop-link:hover {
    color: white;
    background: #41A28E;
}


.header__nav-li:hover .header__nav-drop {
    opacity: 1;
    z-index: 2;
}

.header__nav-li:hover img {
    transform: rotate(180deg);
}

.commerce {
    padding-top: 50px;
    padding-bottom: 70px;
}

.commerce__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap:30px;
}

.commerce__box-item {
    max-width: 255px;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}


.commerce__box-item:hover  .commerce__box-item-title {
    bottom: 0;
}

.commerce__box-item-img {
    width: 100%;
    height: 100%;
    display: block;
}

.commerce__box-item-title {
    transition:  all 300ms;
    color: #FFF;
    text-align: center;
    font-family: 'PR';
    font-size: 25px;
    font-weight: 400;
    background: rgba(75, 72, 72, 0.70);
    padding: 2px 0;
    position: absolute;
    left: 0;
    bottom: -22%;
    width: 100%;
}



.commerce__info,
.product__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.commerce__info-title,
.product__info-title {
    color: #000;
    text-align: center;
    font-family: 'PR';
    font-size: 50px;
    font-weight: 400;
}

.commerce__info-text,
.product__info-text {
    color: #666;
    text-align: center;
    font-family: 'RR';
    font-size: 16px;
    font-weight: 400;
    max-width: 496px;
    width: 100%;
}

.project {
    background: url(../images/project.jpg) no-repeat center /cover;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 112px;
}

.project__box-name {
    color: #FFF;
    font-family: 'PR';
    font-size: 20px;
    font-weight: 400;
}
.project__box-title {
    color: #FFF;
    font-family: 'PR';
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 22px;
}
.project__box-link {
    max-width: 190px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    color: #000;
    font-family: 'PR';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 300ms;
}

.project__box-link:hover {
    background: #41A28E;
    color: white;
}

.product {
    padding: 50px 0;
}

.product__item {
    max-width: 255px;
    width: 100%;
    position: relative;
}

.product__box {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    flex-wrap:wrap;
    gap: 30px;
}
.product__item-top-box {
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
    position: absolute;
    left: 0;
    bottom: -16%;
    width: 100%;
    transition: all 300ms;
}

.product__item-top:hover .product__item-top-box {
    bottom: 0;
}

.product__item-top {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.product__item-top-add {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #FFF;
    font-family: 'PR';
    font-size: 12px;
    font-weight: 400;
}

.product__item-top-icons {
    display: flex;
    gap: 22px;
}

.product__item-top-img {
    display: block;
    width: 100%;
}

.product__item-bottom {
    margin-top: 43px;
}
.product__item-bottom-title {
    color: #000;
    font-family: 'PR';
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 6px;
}
.product__item-bottom-price {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'liga' off;
    font-family: 'PR';
    font-size: 18px;
    font-weight: 400;
}

.product__item-bottom-discount {
    color: #666;
    margin-right: 15px;
    text-decoration: line-through;
}

.out::before {
    content: 'OUT OF STOCK';
}

.sale::before{
    content: 'SALE';
}

.out::before,
.sale::before {
    background: #4B484B;
    color: #FFF;
    font-family: 'RR';
    font-size: 12px;
    font-weight: 400;
    padding: 10px 18px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.footer__top {
    background: #000;
    padding: 36px 0;
}

.footer__top-item {
    max-width: 255px;
    width: 100%;
}

.footer__top-item-title {
    color: #FFF;
    font-family: 'PR';
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}

.footer__top-item-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__top-item-link {
    color: #FFF;
    font-family: 'RR';
    font-size: 14px;
    font-weight: 400;
}
.footer__top-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:30px;
}

.footer__top-item-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.footer__top-item-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: 'RR';
    font-size: 14px;
    font-weight: 400;
}

.footer__top-item-form {
    display: flex;
}
.footer__top-item-input {
    max-width: 200px;
    width: 100%;
    height: 44px;
    background: #FFF;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #909090;
    font-family: 'RR';
    font-size: 14px;
    font-weight: 400;
}
.footer__top-item-btn {
    width: 55px;
    height: 44px;
    background: #41A28E;
    color: #FFF;
    font-family: 'RR';
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.footer__top-item-text {
    color: #FFF;
    font-family: 'RR';
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0;
}

.footer__top-item-cards {
    display: flex;
    gap: 25px;
}

.footer__bottom {
    background: #121212;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.footer__bottom-text {
    color: #666;
    font-family: 'RR';
    font-size: 18px;
    font-weight: 400;
}

.footer__bottom-span {
    text-shadow: 0px 0px 4px #E52D27;
}

@media(max-width:1140px){
    .commerce__box,
    .product__box,
    .footer__top-box{
        justify-content:center;
    }

}

@media(max-width:1000px){
    .header__nav-box{
        flex-direction:column;
        gap:10px
    }
}

@media(max-width:650px){
    .header__content{
        height:350px;
    }

    .header__content-title,
    .commerce__info-title,
    .project__box-title,
    .product__info-title{
        font-size:26px;;
    }
}

@media(max-width:576px){
    .header__nav-list{
       justify-content: center;
       gap: 15px;
    }
    .header__content-title{
       padding: 5px 10px;
    }
   
    .header__content-link,
    .project__box-link{ 
       height: 30px;
    }
   
    .project__box{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
}